@font-face {
    font-family: "SFUIDisplay-Regular";
    src: url(../fonts/font/SF-UI-Display/SF-UI-Display-Regular.otf) format("opentype");
}

.xaxisNetAva path,
.xaxisNetAva line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.xaxisNetAva {
  display: none;
}

.percentNetAva{
  font-family: SFUIDisplay-Regular;
  fill: #F7F0F0;;
  font-size: 14px;
}
.avg{
  font-family: SFUIDisplay-Regular;
  fill: #E06060;
  font-size: 10px;
}
