/*Import the font to aply on the text*/
@font-face {
    font-family: "SFUIDisplay-Regular";
    src: url(font/SF-UI-Display/SF-UI-Display-Regular.otf) format("opentype");
}
/*Hide the domain label*/
.y.axis .domain {
  display: none;
}
/*Set color of the line label on X axis*/
.y.axis .tick line{
	fill: none;
  stroke: #C2C0C2;
  stroke-width: 1px;
}
/*Hide first line label on Y axis*/
.y.axis .tick:first-of-type > line{
  	stroke-width: 0px;
}
/*Set color of the line label on X axis*/
.x.axis .tick line{
	fill: none;
  stroke: #9B9B9B;
  stroke-width: 1px;
}
/*Set color to a bars*/
.bar{
	fill: #874D69;
	fill-opacity: 1;
}
/*Set color to a bars*/
.bar:first-of-type{
	fill: #313B72;
	fill-opacity: 1;
}
/*Set color to a last bar*/
.bar:last-of-type{
	fill: #E06060;
	fill-opacity: 1;
}
/*Hide path label on X Axis*/
.x.axis path{
	display: none;
}
/*Hide text label on X axis*/
.x.axis .tick text{
	display: none;
}
/*Set the font, size and color of text label on Y axis*/
.y.axis .tick text{
	font-family: SFUIDisplay-Regular;
	font-size: 10px;
	fill: #C2C0C2;
}
/*Set th font, size and color of text label for the percentage for each bar*/
.percent{
	font-family: SFUIDisplay-Regular;
	font-size: 10px;
	fill: #462255;
}

#verticalChart{
	padding: 0px;
  	margin: 0px;
  	width: 174px;
}
