@font-face {
    font-family: "SFUIDisplay-Regular";
    src: url(../BarCharHorWeekWORKING/font/SF-UI-Display/SF-UI-Display-Regular.otf) format("opentype");
}
@font-face {
    font-family: "SFUIDisplay-Bold";
    src: url(../BarCharHorWeekWORKING/font/SF-UI-Display/SF-UI-Display-Bold.otf) format("opentype");
}
/**
 * Variable power
 */

 body{
   margin: 0px;
   padding: 0px;
 }


.charts--container {
  height: 400px;
  width: 375px;
  margin: 0px;
  padding: 0px;
}
/*@media screen and (min-width: 700px) {
  .charts--container {
    max-width: 700px;
    left: 50%;
    top: 10%;
    margin: 5em auto;
    box-shadow: 0 2em 2em #333;
  }
}*/

.lineChart--area {
  /*fill: url(#lineChart--gradientBackgroundArea)^;*/
  padding: 0px;
}

.lineChart--areaLine {
  fill: none;
  stroke: #E06060;
  stroke-width: 3px;
}

.lineChart--bubble--label {
  font-family: SFUIDisplay-Regular;
  font-size: 10px;
  fill: #3A8686;
}

.lineChart--bubble--value {
  font-family: SFUIDisplay-Regular;
  fill: #462255;
  font-size: 14px;
}

.lineChart--circle {
  fill: #fff;
  stroke: #E06060;
  stroke-width: 3;
}

.lineChart--circle__highlighted {
  fill: #fff;
  stroke: #E06060;
  stroke-width: 5;
}

.lineChart--gradientBackgroundArea--top {
  stop-color: rgb(34,11,43);
  stop-opacity: 0.9;
}

.lineChart--gradientBackgroundArea--bottom {
  stop-color: rgb(224,96,96);
  stop-opacity: 0.9;
}

.lineChart--xAxisTicks .domain,
.lineChart--xAxis .domain {
  display: none;
}

.lineChart--yAxisTicks .domain {
  display: none;
}

.lineChart--yAxisTicks .tick line {
  display: none;
}

.lineChart--xAxisTicks .tick line,
.lineChart--yAxisTicks .tick line {
  fill: none;
  stroke: rgba(135,77,104,0.25);
}
.lineChart--xAxisTicks .tick text {
  font-family: SFUIDisplay-Regular;
  font-size: 12px;
  fill: #F59292;
}
.lineChart--yAxisTicks .tick text{
  font-family: SFUIDisplay-Regular;
  font-size: 10px;
  fill: #F7F0F0;
}
.lineChart--yAxisTicks path {
  display: none;
  /*stroke-dasharray: 2, 2;*/
}
/**
 * Helper classes
 */
.hidden {
  display: none;
}
.lineChart--circle:first-of-type{
  display: none;
}
.lineChart--xAxisTicks .tick:first-of-type{
  display: none;
}
.lineChart--circle:last-of-type{
  display: none;
}
.lineChart--xAxisTicks .tick:last-of-type{
  display: none;
}
.sombra{
   -webkit-filter: drop-shadow( 0px 0px 8px rgba(245, 146, 146, 1) );
   filter: drop-shadow( 0px 0px 8px rgba(245, 146, 146, 1) );
}
