/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: "SFUIDisplay-Bold";
    src: url(../SF-UI/SF-UI-Display/SF-UI-Display-Bold.otf) format("opentype");
}
@font-face {
    font-family: "SFUIDisplay-Thin";
    src: url(../SF-UI/SF-UI-Display/SF-UI-Display-Thin.otf) format("opentype");
}
@font-face {
    font-family: "SFUIDisplay-Regular";
    src: url(../SF-UI/SF-UI-Display/SF-UI-Display-Regular.otf) format("opentype");
}
@font-face {
    font-family: "SFUIDisplay-Light";
    src: url(../SF-UI/SF-UI-Display/SF-UI-Display-Light.otf) format("opentype");
}

body {
    -webkit-touch-callout   : none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select     : none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    height                  :100%;
    margin                  :0px;
    padding                 :0px;
    width                   :100%;
}

h1 {
    font-family: "SFUIDisplay-Bold";
    font-size  :35px;
    color      : #000000;
}

h2{
    font-family: "SFUIDisplay-Regular";
    font-size  :24px;
    color      : #000000;
}

h3{
    font-family: "SFUIDisplay-Thin";
    font-size  :24px;
    color      : #000000;
}
.header{
  border-bottom: 2px solid #C2C0C2;
  width        : 100%;
  padding-left : 10px;
  text-align   : center;
  background   : #ffffff;
}

.title-menu{
  font-family: "SFUIDisplay-Bold";
  color      :#E06060;
  font-size  : 15px;
  padding    : 5px;
}

a:focus, a:hover{
  text-decoration: none;
  outline: none;
}

.menu-back{
  padding:12px;
}


/*Log In*/

.img-login{
  padding-top: 25px;
  width: 100px;
  margin-top: 35px;
}
.text-login{
  font-size     : 15px;
  background    : none;
  color         : #ffffff;
  text-align    : center;
  letter-spacing: 1px;
  padding       : 30px;
}
/*Style user data (user-password)*/
.data-login{
  text-align: center;
  padding   : 12px;
}
.data-login > input{
  background : none;
  color      : #ffffff;
  font-family: "SFUIDisplay-Bold";
  font-size  : 20px;
  text-align : center;
  padding-bottom: 15px;
  border        : none;
  border-bottom : solid 1px #ffffff;
  outline       : none;
}
.data-login >input[type="password"]{
  border-bottom: none;
}
::-webkit-input-placeholder {
    color: #fff;
}

/*Button Login*/
.btn-sign{
  background          : #462255;
  box-shadow          : 0px 1px 2px 0px rgba(48,59,113,0.45);
  border-radius       : 57px;
  font-family         : "SFUIDisplay-Bold";
  font-size           : 20px;
  color               : #E06060;
  height              : 60px;
  letter-spacing      : 0px;
  border              :none;
  outline             : none;
  width               : 100%;
}

.btn-sign:hover, .btn-sign.active.focus, .btn-sign.active:focus,
.btn-sign.active:hover, .btn-sign:active.focus,
.btn-sign:active:focus, .btn-sign:active:hover{
background    : #F7F0F0;
box-shadow    : 0px 1px 2px 0px rgba(48,59,113,0.45);
border-radius : 57px;
}

/* Style forgot you password */
.forgot-password{
  text-align: center;
  margin-top: 190px;
  position: static;
}
.forgot-password>a{
  font-family   : "SFUIDisplay-Regular";
  font-size     : 14px;
  letter-spacing: 1px;
  background    : none;
  color         : #ffffff;
  position      : static;
}
.forgot-password>a:focus, .forgot-password>a:hover {
    color           : #ffffff;
    background-color: transparent;
    text-decoration : underline;
}
.icons{
  padding-top: 5%;
}

/*Lateral menu*/
#menu_smartphone {
  height    :100%;
  position  :fixed;
  background:#313B72;
  top       :0;
  bottom    :0;
  left      :-1920px;
  width     :1920px;
  z-index   :9999;
}

.menu-options{
    float  : right;
    padding: 10px
}

.logo-esq{
  height: 40%;
  margin: 2%;
  padding: 3%;
}
#back {
  cursor      : pointer;
  margin-left : 5%;
  margin-top  : 7%;
}
.menu_btn
{
  cursor    : pointer;
}
.img-border{
  border: 3px solid white;
  width : 40%;
}
.space-row{
    margin-top: 20%;
}
.space-row-about{
    margin-top: 25%;
}
.space-row-feedback{
    margin-top: 7%;
}
.title-widget-smartphone {
    font-family: "SFUIDisplay-Thin";
    font-size  :16px;
    line-height: 10px;
    color      : #E06060;
    margin-top : 0px;
}
.select-widget-smartphone {
    font-family    : "SFUIDisplay-Bold";
    font-size      :20px;
    line-height    : 10px;
    color          : #E06060;
    margin-top     : 0px;
    text-decoration: none;
}
.name-user{
  font-family   : "SFUIDisplay-Bold";
  font-size     : 18px;
  color         : #ffffff;
  line-height   : 0px !important;
  text-transform: none;
}
.logout{
  font-family   : "SFUIDisplay-Regular";
  font-size     :16px;
  color         : #ffffff;
  line-height   : 0px !important;
  text-transform: uppercase;
}
.text-about{
    font-family: "SFUIDisplay-Thin";
    font-size  :16px;
    line-height: 0px !important;
    color      : #ffffff;
    margin-top : 0px;
    letter-spacing: 1px;
}

/*Widgets Selection*/

.collection-type{
    color         : #462255;
    font-size     : 20px;
    background    : #F7F0F0;
    padding-left  : 25px;
    padding-top   : 10px;
    padding-bottom: 10px;
    margin: 0;
}

.select-widget{
  height: 45px;
  top: 5px;
}

.widget-name{
  left : 0;
  float: left;
}

.button-switch{
  right: 0;
  float: right;
  margin-right: 0;
}

.switch input {display:none;}

.switch {
  position: relative;
  display : inline-block;
  width   : 65px;
  height  : 33px;
}

.slider {
  border-radius   : 34px;
  position        : absolute;
  cursor          : pointer;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-color: #F7F0F0 ;
  transition      : .4s;
}

.slider:before {
  position        : absolute;
  content         : "";
  height          : 26px;
  width           : 26px;
  left            : 4px;
  bottom          : 4px;
  background-color: white;
  transition      : .4s;
  border-radius   : 50%;
}

input:checked + .slider {
  background-color: #313B72;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.buy-widget {
    font-family     : "SFUIDisplay-Light";
    background-color: transparent;
    color           : #3A8686;
    border-radius   : 7px;
    border          : 1px solid #3A8686;
    text-align      : center;
    font-size       : 14px;
    outline         : none;
    padding         : 5px 14px;
    padding-top     : 6px;
}

/*Widgets*/

.widgets {
    border  : 1px ;
    position: relative;
    background-color: #F7F0F0;
}

.complete {
    background-color: #ffffff;
    border-bottom          : 4px solid #E3C950;
    /*border-top          : 4px solid #F7F0F0;*/
    position        : absolute;
    height          : 150px; /*por lo pronto*/
    padding: 0px;
}

.complete .title-widgets{
  margin-left: 15px;
}

.vertical {
    background-color: #ffffff;
    border-bottom       : 4px solid #50E3C2;
    /*border-top          : 4px solid #F7F0F0;*/
    position        : absolute;
    height          : 150px; /*por lo pronto*/
}

.horizontal {
    background-color: #ffffff;
    border-bottom          : 4px solid #E3509D;
    /*border-top          : 4px solid #F7F0F0;*/
    position        : absolute;
    height          : 150px; /*por lo pronto*/
    padding: 0px;
}

.horizontal .title-widgets{
  margin-left: 15px;
}

.title-widgets {
    font-family: "SFUIDisplay-Thin";
    font-size  :20px;
    line-height: 24px;
    color      : #F59292;
    margin-top : 5px;
    float      : left;
}
.widget-information{
  margin-top: 6px;
}
.ul-widgets{
  font-family: "SFUIDisplay-Regular";
  font-size: 11px;
  list-style: none;
  padding: 0;
}

/*Percent Icons/Text up/down*/

.icon-down{
  color: #E3509D;
  margin-right: 8px;
  font-size: 12px;
  top: -2px;
}
.icon-up{
  color: #3A8686;
  margin-right: 8px;
  font-size: 12px;
  top: -2px;

}

.info-percentd{
  font-family: "SFUIDisplay-Light";
  font-size: 20px;
  color: #E3509D;
}
.info-percentu{
  font-family: "SFUIDisplay-Light";
  font-size: 18px;
  color: #3A8686;
}

/*Information Active*/
.ul-widgets>.li-active:before{
  content: "";
  line-height: 1em;
  width: 8.6px;
  height: 8.6px;
  background-image:linear-gradient(#313B72 0%, #E06060 100%);
  float: left;
  margin: 1.5px 9.5px 0;
  border-radius: 50%;
}
.percent-margin{
  margin-right: 25px;
}
.information-AA{
  font-family: "SFUIDisplay-Bold";
  color:#313B72;
  font-size: 17px;
  line-height: 20px;
  margin-left: -13px;
}
.information-AI{
  font-family: "SFUIDisplay-Thin";
  font-size: 12px;
  letter-spacing: 1px;
  margin-left: 3px;
}

/*Information Inactive*/
.ul-infow{
  list-style: none;
}
.ul-widgets>.li-inactive:before{
  content: "";
  line-height: 1em;
  width: 8.6px;
  height: 8.6px;
  background: #F7F0F0;
  float: left;
  margin: 1.5px 9.5px 0;
  border-radius: 50%;
}

.ul-widgets>.li-inactive{
  font-family: "SFUIDisplay-Light";
  color: #C2C0C2;
}

.information-IA{
  font-family: "SFUIDisplay-Bold";
  color:#C2C0C2;
  font-size: 17px;
  line-height: 20px;
  margin-left: -13px;
}

.information-II{
  font-family: "SFUIDisplay-Thin";
  color:#9B9B9B;
  font-size: 12px;
  margin-left: 3px;
  letter-spacing: 1px;
}
/*Transaction-Info*/
.ul-widgetT{
  padding: 0;
  margin-left: 15px;
  list-style: none;
  line-height: 30px;
}
.information-T{
  font-family: "SFUIDisplay-Bold";
  color:#313B72;
  font-size: 40px;
  margin-right: 10px;
}
.today{
  font-family: "SFUIDisplay-Regular";
  font-size: 15px;
}
.info-avg{
 font-family: "SFUIDisplay-Thin";
 color:#9B9B9B;
 font-size: 16px;
 letter-spacing: 1px;
 line-height: 16px;
}

.ul-widgetAT{
  -webkit-display: inline-flex;
  display: inline-flex;
}

.info-ATL{
  padding: 0;
  left: 0;
  position: absolute;
}
.info-ATR{
 padding: 0;
 right: 35px;
 position: absolute;
}

.info-SLA{
  margin-top: 30%;
  margin-left: 15px;
}

/* Origin */
.ul-widgetOrigin{
    float: left;
    margin-top: -20px;
}

/* Critical */
.widget-critical{
  margin-top:30px;
}
.info-CF{
  padding: 0;
}

/*Ul's Indicators-Criticals*/
.ul-widgets>.li-blue:before{
    content: "";
    line-height: 1em;
    width: 8.6px;
    height: 8.6px;
    background:#313B72;
    float: left;
    margin: 1.5px 9.5px 0;
    border-radius: 50%;
}

.ul-widgets>.li-purple:before{
    content: "";
    line-height: 1em;
    width: 8.6px;
    height: 8.6px;
    background:#874D69;
    float: left;
    margin: 1.5px 9.5px 0;
    border-radius: 50%;
}

.ul-widgets>.li-orange:before{
    content: "";
    line-height: 1em;
    width: 8.6px;
    height: 8.6px;
    background:#E06060;
    float: left;
    margin: 1.5px 9.5px 0;
    border-radius: 50%;
}

.ul-widgets>.li-one:before{
    content: "";
    line-height: 1em;
    width: 6.6px;
    height: 6.6px;
    background: #E06060;
    float: left;
    margin: 5.5px 9.5px 0;
    border-radius: 50%;
}

.percent-one{
  font-family: "SFUIDisplay-Bold";
  font-size: 11px;
  color:#E06060;
}
.ul-widgets>.li-two:before{
    content: "";
    line-height: 1em;
    width: 6.6px;
    height: 6.6px;
    background:#B45765;
    float: left;
    margin: 5.5px 9.5px 0;
    border-radius: 50%;
}
.percent-two{
  font-family: "SFUIDisplay-Bold";
  font-size: 11px;
  color:#B45765;
}
.ul-widgets>.li-three:before{
    content: "";
    line-height: 1em;
    width: 6.6px;
    height: 6.6px;
    background:#874D69;
    float: left;
    margin: 5.5px 9.5px 0;
    border-radius: 50%;
}
.percent-three{
  font-family: "SFUIDisplay-Bold";
  font-size: 11px;
  color:#874D69;
}
.ul-widgets>.li-four:before{
    content: "";
    line-height: 1em;
    width: 6.6px;
    height: 6.6px;
    background:#462255;
    float: left;
    margin: 5.5px 9.5px 0;
    border-radius: 50%;
}
.percent-four{
  font-family: "SFUIDisplay-Bold";
  font-size: 11px;
  color:#462255;
}
.ul-widgets>.li-five:before{
    content: "";
    line-height: 1em;
    width: 6.6px;
    height: 6.6px;
    background:#313B72;
    float: left;
    margin: 5.5px 9.5px 0;
    border-radius: 50%;
}
.percent-five{
  font-family: "SFUIDisplay-Bold";
  font-size: 11px;
  color:#313B72;
}

/*Disposals-Available*/
.currency{
  font-family: "SFUIDisplay-Bold";
  color: #313B72;
  font-size: 20px;
  margin-left: -13px;
  list-style: none;
}
.accounting{
  margin-left: 25px;
}
/*Disposals-Available Left/Right*/
.info-DAL{
  padding: 0;
}
.info-DAR{
  padding: 0;
  margin-left: 7px;
}

/*Response Time*/
.ul-ResponseT{
  float: left;
}

/*Network-Availability Left-Right*/
.info-NAL{
  padding: 0;
  left: 0;
  position: absolute;
}
.info-NAR{
 padding: 0;
 right: 35px;
 position: absolute;
 opacity: 0.5;
}

.obj-na{
  font-family: "SFUIDisplay-Regular";
  font-size: 15px;
}

/*Widgets, Graphs-Information positions*/

.left{
    width     :50%;
    position : absolute;
    left     : -12px;
}
.right{
    width      :50%;
    position   : absolute;
    right      : 0;
}
.up{
    /*height       : 96px;*/

}
.bottom{
    height       : 76px;
}


/*Dropdowns widgets*/

.widget-nav{
    color           : #462255;
    background-color: #D8D8D8;
    text-decoration : none;
}

  .nav {
    margin-top: 0;
    width: 100%;
    /*margin-left: -14px;*/
    margin-bottom: 10px;
  }

.nav-tabs{
  background: #D8D8D8;
  border-radius: 14px 14px 0 0;
}
.nav-tabs>li.active>.widget-nav, .nav-tabs>li.active>.widget-nav:focus, .nav-tabs>li.active>.widget-nav:hover {
    color              : #F59292;
    cursor             : default;
    border-radius: 14px 14px 0 0;
    background-color   : #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #E06060  !important;
    cursor: default;
    background-color: #fff;
    border-radius: 14px 14px 0 0;
    border: none;
}

.widget-nav:focus, .widget-nav:hover {
    color           : #EB7777;
    background-color: #C2C0C2;
    text-decoration : underline;
}
.nav>li>.widget-nav {
    position: relative;
    display : block;
}

.nav-tabs>li {
  width     : 50%;
  margin-top: -5px;
}

.nav-tabs>li>a{
  border: none;
  line-height: 1.428571;
}

.nav>li>a {
  width: 100%;
  padding: 3px 15px;
}

/*Notifications Settings*/

.title-widget {
    font-family : "SFUIDisplay-Thin";
    font-size   :20px;
    line-height : 24px;
    color       : #462255;
    margin-top  : 0px;
}

.title-widget>label{
  font-weight: normal;
}

.panel-body {
  padding: 0;
}

.notification-widget{
  padding       : 10px;
  padding-left: 15px;
  height        : 65px;
  /*margin-left : 5px;*/
}

.button-notification, .button-notification.active.focus, .button-notification.active:focus,
.button-notification.active:hover, .button-notification:active.focus,
.button-notification:active:focus, .button-notification:active:hover,
.open>.dropdown-toggle,.button-notification.focus,
.open>.dropdown-toggle,.button-notification:focus,
.open>.dropdown-toggle,.button-notification:hover{

  background    : #FFFFFF !important;
  border        : 1px solid #462255 !important;
  border-radius : 100px !important;
  font-size     : 13px !important;
  color         : #462255 !important;
  letter-spacing: 0px !important;
  height        : 35px !important;
  outline       : none;
}

.label-notification{
  color : #C2C0C2;
  margin-right: 15px;
}

input.error{border:1px solid red;}

.label-percent{
  color       : #462255;
  font-family : "SFUIDisplay-Regular";
  margin-left: 5px;
}

.dropdown-options {
  background        : #FFFFFF;
  border            : 1px solid #462255;
  border-radius     : 25px;
  min-width         : 135px;
  padding           : 22px 0px;
  min-width         : 110px;
  padding           : 13px 3px;
  margin-left       : 15px;
}

.drpw {
  margin-left       : 40px;
}

.dropdown-options>li>a {
  font-size         : 13px;
  background        : #FFFFFF;
  color             : #462255;
  font-family       : "SFUIDisplay-Regular";
}

.dropdown-options>li>a:focus, .dropdown-options>li>a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #462255;;
}

.option-notification {
    font-family       : "SFUIDisplay-Regular";
    color             : #462255;
    background        : #ffffff;
    font-size         : 12px;
    text-decoration   : none;
}

.percent{
    background        : #FFFFFF;
    border            : 1px solid #462255;
    border-radius     : 5px;
    font-family       : "SFUIDisplay-Regular";
    font-size         : 14px;
    color             : #E06060;
    letter-spacing    : 0px;
    padding           : 8px;
    width             : 40px;
    text-align        : center;
    outline           : none;
}

.less, .plus{
  font-family: "SFUIDisplay-Bold";
  color      : #462255;
  font-size  : 20px;
  background : #ffffff;
  border     : none;
  outline    : none;
}

.values-widget {
  border-bottom: none;
  padding      : 15px;
}

.values-widget + .values-widget{
  border-top: 1px solid #C2C0C2;
}

.dropdown-notification{
  float      : left;
  margin-left: 3px;
}

.notification-values{
  float : right;
}

.space-work{
  height: 242px
}

.save-notification-working{
  text-align: center;
  position  : absolute;
}

.save-notification-cf{
  text-align: center;
  top: 15px;
  position: relative;
}

.btn-save{
  background          : #462255;
  box-shadow          : 0px 1px 2px 0px rgba(48,59,113,0.45);
  border-radius       : 57px;
  font-family         : "SFUIDisplay-Bold";
  font-size           : 20px;
  color               : #E06060;
  height              : 60px;
  letter-spacing      : 0px;
  border              :none;
  outline             : none;
  width               : 100%;
}

.btn-save:hover, .btn-save.active.focus, .btn-save.active:focus,
.btn-save.active:hover, .btn-save:active.focus,
.btn-save:active:focus, .btn-save:active:hover{
  background    : #F7F0F0;
  box-shadow    : 0px 1px 2px 0px rgba(48,59,113,0.45);
  border-radius : 57px;
}

.settings-option{
  font-family   : "SFUIDisplay-Regular";
  font-size     : 11px;
  color         : #E06060;
  letter-spacing: 0px;
  background    : #F7F0F0;
  line-height   : 15px;
  padding       : 5px;
  padding-left  : 23px;
}

.panel-group .panel-heading {
  border-bottom   : 5px solid white;
  background      : #F7F0F0;
  display         : inline-block;
  margin          : 0;
  padding         : 0;
  top             : 0;
  bottom          : 0;
}

.panel-heading > h4{
  font-family   : "SFUIDisplay-Regular";
  font-size     : 10px;
  color         : #E06060;
  letter-spacing: 0px;
  display       : inline-block;
  padding-left  : 12px;
}

.icon, .icon:hover{
  background      : none;
  right           : 0;
  float           : right;
  border          : none;
  outline         : none;
  margin          : 0 !important;
  padding         : 5px !important;
  top             : 0 !important;
  bottom          : 0 !important;
}

.panel-group{
 padding: 12px;
}

.titles-notification{
  padding: 0;
}

.remove{
  margin-left: 20px;
}

/*Trends*/
.header-trends{
background: none;
}
.title-menu-trends{
  font-family     : "SFUIDisplay-Thin";
  color           : #ffffff;
  font-size       : 21px;
  letter-spacing  : 1px;
}
.trend{
  background      : linear-gradient(0deg, #E06060 0%, #313B72 68%)  no-repeat center center fixed;
}
.group-trends{
  margin          : 0 auto;
}

.group-trends>.btn {
    font-family     : "SFUIDisplay-Bold";
    font-size       : 21px;
    color           : #F7F0F0;
    border          : 1px solid #F7F0F0;
    border-radius   : 100px;
    letter-spacing  : 0px;
    background      : #313B72;
    padding-left    : 18px;
}
.btn-trend .caret {
    margin-left: 14px;
    margin-right: 7px;
}

.dropdown-trends{
    background      : #313B72;
    border          : 1px solid #F7F0F0;
    box-shadow      : 0px 0px 6px 3px #252C57;
    border-radius   : 25px;
    top             : 0px;
    left            : 25%;
}

.dropdown-trends>li>a {
    font-family: "SFUIDisplay-Bold";
    background : none;
    display    : block;
    padding    : 7px 35px;
    clear      : both;
    font-size  : 20px;
    line-height: 1.42857143;
    color      : #F7F0F0;
    outline    : none;
}

.dropdown-trends>li>a:focus, .dropdown-trends>li>a:hover {
    color           : #ffffff;
    font-size       : 20px;
    letter-spacing  : 0px;
    background-color: transparent;
}

.dropdown-trends>.active>a, .dropdown-trends>.active>a:focus, .dropdown-trends>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
}

.btn-trend.active.focus, .btn-trend.active:focus, .btn-trend.active:hover,
.btn-trend.focus:active, .btn-trend:active:focus, .btn-trend:active:hover,
.open > .dropdown-toggle.btn-trend.focus,
.open > .dropdown-toggle.btn-trend:focus,
.open > .dropdown-toggle.btn-trend:hover {
    color           : #F7F0F0;
    background-color: #313B72;
    border-color    : #F7F0F0;
    outline         : none;
}

.row-graph{
  padding-left: 0px;
}

/*About*/
.title-about{
    color: #462255;
}
.background-version{
    background     : white;
}
.background-body{
    background-color: #F7F0F0 ;
}
.text-version{
    color          : #E06060 ;
    line-height    : 40px;
    font-size      : 14px;
    margin         : 0;
}
.space{
    height           : 66px;
}
.paragraph{
    font-family : "SFUIDisplay-Regular";
    font-size   : 16px;
    color       : #484349 ;
}
.size-logo{
    width : 80%;
    margin-top: 15px;
}

/* Feedback*/
.paragraph-feedback{
    font-family: "SFUIDisplay-Light";
    font-size:16px;
    color: #484349 ;
}
.color-feedback{
  color: #462255;
}
.size-logo-feedback {
  width: 38%;
}
.comments{
    margin-left: 5%;
    font-size: 14px;
    color: #E06060
}
.comments-textarea{
    width: 100%;
    border-style: none;
    resize: none;
}
.row-border{
    background: #fff;
    border-bottom: solid 2px #C2C0C2;
    margin: 0px;
}

/* Info */

.icons-info{
  float: right;
  margin-right: 12px;
  margin-top: 15px !important;
}

.title-info{
  font-size: 15px;
  color: #484349;
  margin-bottom: 10px;
  margin-top: 20px;
}

.text-icons{
  margin-top: 25px;
}

.instruction{
  text-align: left;
  font-family: "SFUIDisplay-Thin";
  color: #9B9B9B;
  font-size: 15px;
  margin-top: 15px;
}

.info-img{
  width: 55%;
  margin-top: 30px;
  margin-left: 25px;
}

body.modalBlur > *:not(.modal) {
  background: #ffffff;
  -webkit-filter: blur(10px);
}

.modal-backdrop {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/*Footer*/

.footer{
  font-family     :"SFUIDisplay-Light";
  color           :   #ffffff;
  position        : fixed;
  bottom          : 0;
  width           : 100%;
  height          : 20px;
  padding-right   : 25px;
  text-align      : right;
  background-color: rgba(49, 59, 114, 0.8);
}

/*Icons*/
.atm-icon-bw{
  content         : url('../img/atm-icon-bw.png');
}
.atm-icon-color{
  content         : url('../img/atm-icon-color.png');
}
.back-icon-white{
  content         : url('../img/back-icon-white.png');
  width: 35px;
  height: 20px;
  margin-top: 50%;
  margin-left: 20%;
}
.back-icon{
  content     : url('../img/back-icon.png');
  width: 35px;
  height: 20px;
  margin-top: 50%;
  margin-left: 20%;
}
.filter-active{
  content     : url('../img/filter-active.png');
}
.filter-inactive{
  content : url('../img/filter-inactive.png');
  width   : 23px;
}
.graph{
  content     : url('../img/graph.png');
}
.hamburguer{
  content     : url('../img/hamburguer.png');
  width       : 29px;
  height      : 20px;
  margin-top  : 23%;
  margin-left : 15%;
}
.info-icon{
  content     : url('../img/info-icon.png');
  width       : 20px;
  height      : 20px;
  margin-right: 12px;
}
.less-icon {
    content:url('../img/less-icon.png');
    width  : 17px;
    height : 17px;
}
.more-icon {
    content     : url('../img/more-icon.png');
    width       : 17px;
    height      : 17px;
    float       : right;
    margin-top  : -33px;
    margin-right: 12px;
}
.notification-config{
    content     : url('../img/notification-config.png');
    float       : right;
    width       : 30px;
    height      : 25px;
    margin-right: 5px;
    margin-top  : 5px;
}
.notification{
  content   : url('../img/notification.png');
  width     : 20px;
  height    : 20px;
}
.tendency-icon{
  content     : url('../img/tendency-icon.png');
  float       : right;
  width       : 25px;
  height      : 25px;
  margin-right: 5px;
  margin-top  : 5px;
}
.world-icon{
  content     : url('../img/world-icon.png');
}

/*Media queries*/

/* Mobile */

.body-login{
  background-image: url('../img/background-desktop.jpg');
  background-size : cover;
}

#radialChart{
  padding: 0px;
}
#verticalChart{
	padding: 0px;
  	margin: 0px;
  	width: 174px;
  	margin-top: 40px;
  	margin-left: 10px;
}
#BarChartVSeg{
  margin-top: 30px;
  left: 0;
}

#SlaViol{
  /*width: 187px;*/
  position: absolute;
    margin-top: -5px;
    margin-left: -20px;
    top: 10px;
}
.workToday{
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}
.workWeek{
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}
.workMonthly{
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}

.transToday{
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}
.transWeek{
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}
.transMonthly{
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}

.approToday{
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}
.approWeek{
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}
.approMonthly{
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}

.transSecToday{
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}
.transSecWeek{
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}
.transSecMonthly{
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}
/*media queries*/

@media (max-width: 1200px) {
    #menu_smartphone {
        left :-1200px;
        width:1200px;
    }

  .body-login{
    background-image: url('../img/background-desktop.jpg');
    background-size : cover;
  }

  .logo-esq {
    width: 20%;
  }


}
@media (max-width : 1024px) {
 #menu_smartphone {
   left      :-1024px;
   width     :1024px;
}

  .body-login{
    background-image: url('../img/background-desktop.jpg');
    background-size : cover;
  }

  .dropdown-trends{
  left: 40%;
  }

  .logo-esq {
    width: 20%;
  }

  .back-icon-white, .back-icon {
    margin-top: 15%;
  }


}
@media (max-width : 768px) {
  #menu_smartphone {
    left      :-768px;
    width     :768px;
  }

  .body-login{
    background-image: url('../img/background-tablet.jpg');
    background-size : cover;
  }

  .dropdown-trends{
    left: 37%;
  }

  .logo-esq {
    width: 63px;
    height: 41px;
    margin: 0px;
    padding: 0px;
  }
  .icons{
    padding: 0px;
    padding-right: 20px;
    margin-top: 15px;
    text-align: right;
  }
  .hamburguer{
    margin-top: 15px;
    margin-left: 0;
  }

   .back-icon-white, .back-icon {
    margin-top: 20%;
  }

  #radialChart{
    margin-top: 0;
    margin-left: 15%;
  }

  #verticalChart{
    margin-left: 10%;
  }
  #BarChartVSeg{
    margin-top: 30px;
    left: 0;
  }
  #SlaViol{
      padding-left: 0%;
  }
}
@media (max-width : 768px) and (orientation: landscape) {
  .workToday{
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }
  .workWeek{
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }
  .workMonthly{
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }

  .transToday{
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }
  .transWeek{
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }
  .transMonthly{
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }

  .approToday{
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }
  .approWeek{
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }
  .approMonthly{
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }

  .transSecToday{
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }
  .transSecWeek{
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }
  .transSecMonthly{
    position: relative;
    bottom: 0;
    margin-bottom: 0px;
  }
}

@media (max-width : 414px) {
  #menu_smartphone {
    left      :-414px;
    width     :414px;
}

  .body-login{
    background-image: url('../img/background.jpg');
    background-size : cover;
  }

  .dropdown-trends{
    left: 25%;
  }

  .logo-esq {
    width: 35%;
    height: 50%;
  }

  .back-icon-white, .back-icon {
    margin-top: 70%;
  }
  #radialChart{
    margin: 0 auto;
    margin-top: 0;
  }
  #verticalChart{
    margin-left: 10px;
  }
  #BarChartVSeg{
    margin-top: 30px;
    left: 0;
  }
  #SlaViol{
    margin-left: -40px;
    padding: 0;
  }
}

/*Transitions*/

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Animations start here  ===*/
/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/*=== FADE IN DOWN ===*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 10;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 10;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.header-trends{
  margin: 0px;
}
.space-work{
  margin: 0px;
}

.widget-nav-title{
  background: #F1F1F1 ;
}
.nav-tabs-title{
 background: #F7F0F0 ;
 border-radius: 14px 14px 0 0;
}
.li-title{
 margin-top: -5px !important;
 margin-bottom: -4px !important;
}
.title-nav-widgets{
   font-family: "SFUIDisplay-Bold";
   font-size: 16px;
   line-height: 24px;
   color      : #462255;
   margin-top : 5px;
   float      : left;
}
.atm-icon{
 content: url(../img/atm-icon-color.png);
 padding-right: 5%;
}
.regions-icon{
 content: url(../img/world-icon.png);
 padding-right: 10%;
}
.atm-icon2{
 content: url(../img/atm-icon-color2.png);
 padding-right: 5%;
}
.regions-icon2{
 content: url(../img/world-icon2.png);
 padding-right: 10%;
}
.margin-caret{
  margin-left: 2%;
}
.tab-title-a {
   width: 100%;
   padding: 10px 0px !important;
}

.w-DisposalsAvailable{
  padding: 0px;
  margin-left: 0px;
}
.w-DisposalsAvailable .title-widgets{
  margin-left: 0px;
}

.header-menu{
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-top: 10px;
}
.navcontent{
  padding-top: 53px;
}
#w-Network{
  margin-bottom: 20px;
}
.update-icon{
  margin-right: 20px;
  float: right;
  right: 10px;
  width: 17px;
}
.btn-circle {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  z-index: 2px;
  box-shadow: 0px 0px 5px #CCC;
}

.true{
 display: block;
}
.false{
 display: none;
}
#panel{
  height: 110px;
}
